.jumbotron {
    padding-top: 100px;
    padding-bottom: 100px;
    background-image: url('../img/tattooJumbotron1.jpg');
    background-size: cover;
}

.jumbotron-text {
    color: white;
    text-align: right;
}

.demo-card-wide > .mdl-card__menu {
    color: #fff;
}

.mdl-cell {
    background-color: rgb(96, 125, 139);
    display: flex;
    justify-content: center;
    padding: 10px;
}

.main-content {
    padding: 50px;
}