.demo-list-control {
    width: 300px;
}

.demo-list-radio {
    display: inline;
}

#monthPickerCard {
    width: 50%;
}

#datePickerCard {
    width: 100%;
}

#availableTimesCard {
    width: 100%;
}

#personalInfoCard {
    width: 100%;
}

#submitCard {
    width: 100%;
}
